Flask==2.3.3
bcrypt==4.0.1
langchain                
mysql-connector-python  
psycopg2-binary         
pymongo                 
sqlalchemy              
streamlit
PyPDF2
pandas 
pymongo
python-dotenv
pyodbc
seaborn
matplotlib
pyodbc
langgraph
gunicorn
waitress